h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    color: #ddd;
}
h1 img {
    width: 1em;
    margin-right: 5px;
}