#weather-board {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #00000010;
    margin: auto 10px;
    border-radius: 10px;
}
